@import 'reset.css';
@import 'variables.css';

/* Animations */

@keyframes flash {
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Global styles */

* {
    color: var(--body-font-color);
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.outliner-aid {
    display: none;
}

.page-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

/* Top nav styles */

.top-nav__name {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 6rem;
    margin: 20px 0;
}

.top-nav__name > a:hover {
    outline: 2.5px dashed var(--top-nav-link-bg-color);
}

.top-nav__name > a:active{
    outline: 2.5px dotted var(--top-nav-link-bg-color);
}

.top-nav__name > a {
    text-decoration: none;
}

.top-nav__menu {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.top-nav__menu__item {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 0 2% 20px 2%;
}

.top-nav__menu__item > a {
    display: inline-block;
    width: 100%;
    background-color: var(--top-nav-link-bg-color);
    font-size: 1.6rem;
    color: var(--top-nav-link-font-color);
    text-decoration: none;
    padding: 20px 0;
    border: 1px solid var(--top-nav-link-border-color);
    border-radius: 20px;
}

.top-nav__menu__item > a:hover {
    background-color: var(--top-nav-link-font-color);
    color: var(--top-nav-link-bg-color);
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-property: all;
}

.top-nav__menu__item > a:active {
    border: 1px dotted var(--top-nav-link-bg-color);
    transition-duration: 250ms;
    transition-property: all;
    animation: flash 0.5s;
}

/* Footer styles */

.footer {
    width: 100%;
    max-width: 740px;
    background-color: var(--footer-bg-color);
    border-top: 1px dashed var(--footer-border-color);
    margin: 0 auto;
}

.footer__text {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.footer__text__heading {
    font-family: var(--heading-font-family);
    font-size: 3rem;
    margin: 20px 0;
}

.footer__text__heading > a {
    text-decoration: none;
}

.footer__text__nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.footer__text__nav-menu__item {
    font-size: 1.6rem;
    color: var(--footer-link-font-color);
    text-decoration-skip-ink: none;
    margin: 10px 20px 10px 0;
}

.footer__text__copyright {
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    padding: 20px 0;
}

/* Common page styles */

.about__header-image,
.cookies__header-image,
.weddings__header-image,
.catering__header-image,
.contact__header-image {
    text-align: center;
    margin: 15px auto 30px;
}

.home__featured, 
.about__our-bakers__bakers-info,
.cookies__type,
.weddings__treat-package {
    display: flex;
    width: 100%;
}

.home__featured > *, 
.about__our-bakers__bakers-info > *,
.cookies__type > *,
.weddings__treat-package > * {
    margin: 20px;
}

.home__featured__image, 
.about__our-bakers__bakers-info__image,
.cookies__type__image,
.weddings__treat-package__image {
    width: 55%;
}

.home__featured__text, 
.about__our-bakers__bakers-info__text,
.cookies__type__text,
.weddings__treat-package__text {
    width: 40%;
}

.home__featured__text > *, 
.about__our-bakers__bakers-info__text > *,
.cookies__type__text > *,
.weddings__treat-package__text > * {
    width: 100%;
    padding-right: 4.5%;
}

.home__intro__heading, .home__featured__text__heading, .home__contact__heading,
.about__intro__heading, .about__how-we-bake__text__heading, .about__our-bakers__bakers-info__text__heading,
.cookies__intro__heading, .cookies__type__text__heading,
.weddings__intro__heading, .weddings__treat-package__text__heading,
.catering__intro__heading {
    font-family: var(--heading-font-family);
    font-size: 3rem;
    padding: 0 10px;
    margin-bottom: 0;
}

/* Home page styles */

.home__header-image {
    margin-bottom: 20px;
}

.home__contact {
    padding: 20px 0;
    border-top: 1px dashed var(--dashed-border-separator-color);
}

.home__contact__heading {
    padding: 0;
    margin-bottom: 10px;
}

.home__contact__details {
    font-size:  1.6rem;
    line-height: 2;
}

/* About page styles */

.about__intro {
    width: 100%;
    margin: 30px auto 50px;
}

.about__how-we-bake {
    margin: 25px auto;
}

.about__how-we-bake__image {
    text-align: center;
    margin-bottom: 20px;
}

.about__our-bakers {
    margin: 37.5px auto 0;
}

.about__our-bakers__heading {
    font-family: var(--heading-font-family);
    font-size: 4.5rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

/* Cookies page styles */

.cookies__intro {
    width: 100%;
    margin: 30px auto;
}

/* Weddings page styles */

.weddings__intro {
    margin: 30px auto;
}

.weddings__cakes {
    margin: 25px auto 50px;
}

.weddings__cakes__heading {
    font-family: var(--heading-font-family);
    font-size: 3.75rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

.weddings__cakes__gallery {
    display: flex;
    justify-content: space-between;
}

.weddings__cakes__gallery__images {
    width: 50%;
}

.weddings__cakes__gallery__images > img {
    display: block;
    padding: 0 5px;
    margin: 0 auto;
}

/* Catering page styles */

.catering__intro {
    margin: 30px auto;
}

.catering__package {
    width: 100%;
    margin: 75px auto 50px;
}

.catering__package__image {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.catering__package__text__header {
    font-family: var(--heading-font-family);
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.catering__package__text__menu-label {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.catering__package__text__menu {
    list-style-type: disc;
}

.catering__package__text__menu__item {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 10px 0 10px;
    margin-left: 8.75%;
}

.catering__package__text__menu__item__header {
    font-weight: bold;
}

/* Contact page styles */

.contact__heading {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 4rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 25px auto 75px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--body-font-family);
    font-size: 1.2rem;
    margin: 50px auto;
}

.contact__form > * {
    margin: 10px 0;
}

.contact__form > * {
    width: 100%;
}

.contact__form > * > * {
    margin: 5px 0;
}

.contact__form > * > input {
    width: 100%;
    padding: 10px 1.25%;
}

.contact__form__name__label {
    display: inline-block;
    margin-bottom: -2.5px;
}

.contact__form__name__sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact__form__name__sections > * {
    display: inline-flex;
    flex-direction: column;
    width: 47.5%;
    
}

.contact__form__name__sections > * > * {
    margin: 5px 0;
}

.contact__form__name__sections > * > input {
    width: 100%;
    padding: 5px 2.5%;
}

.contact__form__message__input {
    display: block;
    width: 100%;
    height: 100px;
}

@media (max-width: 500px) {
    /* Top nav styles */

    .top-nav__menu__item {
        width: 25%;
    }

    /* Common page styles */

    .home__header-image, 
    .about__header-image,
    .cookies__header-image,
    .weddings__header-image,
    .catering__header-image {
        margin-top: 50px;
    }

    .home__intro, 
    .about__intro,
    .cookies__intro,
    .weddings__intro,
    .catering__intro,
    .contact__intro {
        margin-bottom: 45px;
    }

    .about__our-bakers__bakers-info,
    .cookies__type,
    .weddings__treat-package {
        flex-direction: column;
        margin: 10px auto 20px;
    }

    .home__featured:nth-child(odd), 
    .about__our-bakers__bakers-info:nth-child(odd),
    .cookies__type:nth-child(even),
    .weddings__treat-package:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .home__featured__image > img, 
    .about__our-bakers__bakers-info__image > img,
    .cookies__type__image > img,
    .weddings__treat-package__image > img {
        display: block;
        margin: 0 auto;
    }

    .home__featured__image, .home__featured__text,
    .about__our-bakers__bakers-info__image, .about__our-bakers__bakers-info__text,
    .cookies__type__image, .cookies__type__text,
    .weddings__treat-package__image, .weddings__treat-package__text {
        width: 100%;
        margin: 10px auto;
    }

    /* Home page styles */

    .home__featured {
        flex-direction: column;
    }

    .home__contact {
        margin-top: 30px;
    }

    /* About page styles */

    .about__our-bakers {
        margin: 37.5px auto 50px;
    }

    .about__our-bakers__heading {
        margin: 20px 0 10px;
    }

    /* Weddings page styles */

    .weddings__cakes__heading {
        font-size: 3.5rem;
    }

    /* Catering page styles */

    .catering__package__text__header {
        font-size: 2.75rem;
    }

    .catering__package__text__menu__item {
        line-height: 1.2;
        padding: 7.5px 0 7.5px;
        margin-left: 12.5%;
    }

    /* Contact page styles */


}