@import 'reset.css';
@import 'variables.css';

/* Animations */

@keyframes flash {
    25% { opacity: 0.5; }
    50% { opacity: 1; }
    75% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Global styles */

* {
    color: var(--body-font-color);
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 10px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.outliner-aid {
    display: none;
}

.page-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

/* Top nav styles */

.top-nav__name {
    text-align: center;
    font-family: var(--heading-font-family);
    font-size: 6rem;
    margin: 20px 0;
}

.top-nav__name > a:hover {
    outline: 2.5px dashed var(--top-nav-link-bg-color);
}

.top-nav__name > a:active{
    outline: 2.5px dotted var(--top-nav-link-bg-color);
}

.top-nav__name > a {
    text-decoration: none;
}

.top-nav__menu {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.top-nav__menu__item {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 0 2%;
}

.top-nav__menu__item > a {
    display: inline-block;
    width: 100%;
    background-color: var(--top-nav-link-bg-color);
    font-size: 1.6rem;
    color: var(--top-nav-link-font-color);
    text-decoration: none;
    padding: 20px 1%;
    border: 1px solid var(--top-nav-link-border-color);
    border-radius: 20px;
    margin-bottom: 20px;
}

.top-nav__menu__item > a:hover {
    background-color: var(--top-nav-link-font-color);
    color: var(--top-nav-link-bg-color);
    transform: scale(1.1);
    transition-duration: 500ms;
    transition-property: all;
}

.top-nav__menu__item > a:active {
    border: 1px dotted var(--top-nav-link-bg-color);
    transition-duration: 250ms;
    transition-property: all;
    animation: flash 0.5s;
}

/* Footer styles */

.footer {
    width: 100%;
    max-width: 740px;
    background-color: var(--footer-bg-color);
    border-top: 1px dashed var(--footer-border-color);
    margin: 0 auto;
}

.footer__text {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.footer__text__heading {
    font-family: var(--heading-font-family);
    font-size: 3rem;
    margin: 20px 0;
}

.footer__text__heading > a {
    text-decoration: none;
}

.footer__text__nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.footer__text__nav-menu__item {
    font-size: 1.6rem;
    color: var(--footer-link-font-color);
    text-decoration-skip-ink: none;
    margin: 10px 20px 10px 0;
}

.footer__text__copyright {
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    padding: 20px 0;
}

/* Common page styles */

.home__intro__heading, .home__featured__text__heading, .home__contact__heading,
.about__intro__heading, .about__how-we-bake__text__heading, .about__our-bakers__bakers-info__text__heading {
    font-family: var(--heading-font-family);
    font-size: 3rem;
    padding: 0 10px;
    margin-bottom: 0;
}

.home__featured, 
.about__our-bakers__bakers-info {
    display: flex;
    width: 100%;
}

.home__featured > *, 
.about__our-bakers__bakers-info > * {
    margin: 20px;
}

.home__featured__image, 
.about__our-bakers__bakers-info__image {
    width: 55%;
}

.home__featured__text, 
.about__our-bakers__bakers-info__text {
    width: 40%;
}

.home__featured__text > *, 
.about__our-bakers__bakers-info__text > * {
    width: 100%;
    padding-right: 4.5%;
}

/* Home page styles */

.home__header-image {
    margin-bottom: 20px;
}

.home__featured {
    display: flex;
    width: 100%;
}

.home__featured > * {
    margin: 20px;
}

.home__featured__image {
    width: 55%;
}

.home__featured__text {
    width: 40%;
}

.home__featured__text > * {
    width: 100%;
    padding-right: 4.5%;
}

.home__contact {
    padding: 20px 0;
    border-top: 1px dashed var(--dashed-border-separator-color);
}

.home__contact__heading {
    padding: 0;
    margin-bottom: 10px;
}

.home__contact__details {
    font-size:  1.6rem;
    line-height: 2;
}

/* About page styles */

.about__header-image {
    text-align: center;
    margin: 25px auto;
}

.about__intro {
    width: 100%;
    margin: 25px auto 50px
}

.about__how-we-bake {
    margin: 25px auto;
}

.about__how-we-bake__image {
    text-align: center;
    margin-bottom: 20px;
}

.about__our-bakers {
    margin: 37.5px auto 25px;
}

.about__our-bakers__heading {
    font-family: var(--heading-font-family);
    font-size: 4.5rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

@media (max-width: 500px) {
    /* Top nav styles */

    .top-nav__menu__item {
        width: 25%;
    }

    /* Common page styles */

    .home__header-image, 
    .about__header-image {
        margin-top: 50px;
    }

    .home__intro, 
    .about__intro {
        margin-bottom: 50px;
    }

    .home__featured, 
    .about__our-bakers__bakers-info {
        flex-direction:  column;
    }

    .home__featured:nth-child(odd), 
    .about__our-bakers__bakers-info:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .home__featured__image > img, 
    .about__our-bakers__bakers-info__image> img {
        display: block;
        margin: 0 auto;
    }

    /* Home page styles */

    .home__featured__image, .home__featured__text {
        width: 100%;
        margin: 20px auto;
    }

    .home__contact {
        margin-top: 30px;
    }

    /* About page styles */

    .about__our-bakers {
        margin: 37.5px auto 50px;
    }

    .about__our-bakers__heading {
        margin: 20px 0 10px;
    }

    .about__our-bakers__bakers-info {
        margin: 10px auto 20px;
    }

    .about__our-bakers__bakers-info__image, .about__our-bakers__bakers-info__text {
        width: 100%;
        margin: 10px auto;
    }
}